
@{
    ViewData["Title"] = "Taleplerim";
    Layout = "~/Views/Shared/SorumluLayout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

<body>
    <div class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <div class="table-wrapper table-responsive">

                        <div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <i class="fas fa-table me-1"></i>
                                    <a class="btn CodeMirror-activeline-background">Taleplerim</a>
                                </div>

                                <div class="card-body">
                                    <div id="filtre">
                                        <form action="">
                                            <input type="date" class="form-control form-control-sm" style="width:200px;float:left" name="startDate">
                                            <input type="date" class="form-control form-control-sm" style="width:200px;float:left" name="endDate">
                                            <input type="submit" id="DateSet"value="Listele" class="btn btn-primary btn-sm">
                                        </form><br />
                                        <script>
                                            $(function () {
                                                $("[name=startDate]").val(new URLSearchParams(window.location.search).get('startDate'));
                                                $("[name=endDate]").val(new URLSearchParams(window.location.search).get('endDate'));
                                            });
                                        </script>
                                    </div>
                                    <table class="table table-responsive" id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>Talep eden Personel </th>
                                                <th>Talep Adı </th>
                                                <th>Talep Acıklaması</th>
                                                <th>Talep Miktarı</th>
                                                <th>Tahmini Fiyat</th>
                                                <th>Talep Tarihi</th>
                                                <th>Talep Durumu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.talepList)
                                            {

                                            <tr>
                                                <td class="min-width">
                                                    @item.TalepEdenPersonelName
                                                </td>
                                                <td class="min-width">
                                                    @item.TalepName


                                                <td class="min-width">
                                                    @item.TalepAcıklaması
                                                </td>

                                                <td class="min-width">
                                                    @item.TalepMiktari
                                                    @item.TalepBirim
                                                </td>

                                                <td class="min-width">
                                                    @item.TalepTahminiFiyat
                                                    @item.TalepFiyatBirim


                                                </td>
                                                <td class="min-width">
                                                    @item.TalepDate

                                                </td>


                                                <td class="min-width">
                                                    @item.TalepDurumu
                                                </td>
                                            </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

